/*Paul Fralix Sebastian's biosite css */
/* CSD 340 Web Development with HTML and CSS */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  color: #333;
}

header, footer {
  background-color: #6EC1E4;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.center-heading {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
  font-style: italic;
}

.portrait, .image-grid {
  text-align: center;
  margin: 2rem 0;
}

.image-grid figcaption {
  font-family: 'Roboto Slab', serif; 
  display:block;
  font-size: 1rem;
  color: #555;
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-style: italic;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.portrait img {
  max-width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.bio {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  line-height: 1.6;
  font-style: italic;
}

blockquote {
  font-family: 'Roboto Slab', serif;
  font-style: italic;
  margin: 2rem auto;
  text-align: center;
}